*
{
 margin: 0;
 padding: 0; 
 list-style-type: none;
 font-family: Gotham-medium;
 /* box-sizing: border-box; */
}
/* page 1 */
#page_1
{
      scroll-snap-align: start ;
      background-image: url('/styling/Teslamodel3.jpeg');
      background-size: cover;
      background-repeat: no-repeat;  
      width: 100vw;
      height: 100vh;

}




@font-face {
  font-family: Gotham-medium;
  src: url(/fonts/GothamSSm-Medium_Web.woff2);
}
@font-face {
  font-family: Gotham-light;
  src: url(/fonts/GothamSSm-Light_Web.woff2);
}
@font-face {
  font-family: Gotham-book;
  src: url(/fonts/GothamSSm-Book_Web.woff2);
}
@font-face {
  font-family: Gotham-bold;
  src: url(/fonts/GothamSSm-Bold_Web.woff2);
}
.logstatic
{
  position: absolute;
  /* border: 1px solid pink; */
  justify-content: center;
  padding-top: 0px ;
  margin-left: 30px;
  position: fixed;
}
.model_menu
{
  padding-top: 20px;
  /* border:1px solid purple; */
}

.model_menu ul
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px ;
}
.model_menu ul li
{
  text-decoration:none ;
  justify-content: center;
  align-items: center;
  float: left;
  padding-right: 20px ;
}
.model_menu ul a
{
  text-decoration:none ;
  color: white;
  font-weight: 500;
  /* border: 1px solid red; */
  padding: 5px 5px 5px 5px;
  margin-left: 9px;
  margin-right: 9px;
  border-radius: 15px;
}
.model_menu ul a:hover
{
border: 0px solid grey;
background: rgba(128, 128, 128, 0.900);
border-radius: 15px;
transition: all .45s ease ;
}
.right_menu
{
  margin-top: -19.4px;
  display: flex;
  justify-content: right;
  align-items: right;
  padding-top: 0px ;
  /* border: 1px solid saddlebrown; */
}
.title
{
/* border: 2px solid red; */
width: 20%;
margin: auto;
text-align: center;
margin-top: 190px;
color: white;
}
.nav_menu
{
  list-style: none;
  list-style-position: inside;
  margin-left: 5px;
  margin: 0 86% 0 5px;
  line-height: 20px;
  position: fixed;
}

.nav_menu ul li
{
  margin: 5px;
  padding-left: 5px;
  border-left: 3px solid rgb(206, 206, 206) ;

}
.nav_menu ul li a
{
  text-decoration: none;
  color: transparent;
}
.nav_menu ul li a:hover
{
color: #c6c8cf;
transition: all .45s ease ;
}
.lower-container .mi
{
  position: absolute;
  left: 561px;
  bottom: 57px;
  width: 150px;
  height: 60px;
  text-align: center;
  /* border: 1px solid red; */
  color: white;
  padding-bottom: 12px;
}
.lower-container .mi p
{
  font-size:12px ;
  padding-top: 10px;
}
.lower-container .awd
{
  text-align: center;
  position: absolute;
  bottom: 38px;
  right:568px;
  width: 150px;
  height: 90px;
  color: white;
}
.lower-container p
{
padding-top: 10px;
font-size:12px ;
}
.lower-container a
{
  position: absolute;
  text-decoration:none ;
  color: rgba(255, 255, 255, 0.698);
  font-weight: 500;
  /* border: 1px solid red; */
  padding: 10px 30px;
  border-radius: 20px;
  border: 2.7px solid white;
  font-size: 13px;
  bottom: 85px;
  right: 400px;
}
.lower-container a:hover
{
  color: black;
  background-color: white;
  transition: all .45s ease ;

}
.mphimg img 
{
  position: absolute;
  width: 45px;
  bottom: 100px;
  left: 425px;
}
.mphimg h2 
{
  position: absolute;
  bottom: 100px;
  left: 480px;
  font-size: ;
  color: white;

}




#page_2
{
      scroll-snap-align: start ;
      background-image: url('/styling/model3Safety.png');
      background-size: cover;
      background-repeat: no-repeat;  
      width: 100vw;
      height: 100vh;
      color: rgb(0, 0, 0);
      font-family: Gotham-bold;
      /* Gotham-medium Gotham-light otham-book Gotham-bold */

}
.page2parag
{
border: 3px solid white;
width: 320px;
height: 788px;
top: 120px;
background: white;
z-index: 90;
}
.safety
{
  /* border: 1px solid red; */
  margin-left: 25px;
  margin-top: 45px;
}
.built
{
  /* border: 1px solid black; */
  margin-left: 25px;
  margin-bottom: 18px;
}
.p2p
{
  /* border: 1px solid red; */
  margin:5px 20px 20px 25px;

}
.starscontainer
{
  background-color: #E1E4E4;
  border-radius: 15px;
  width: 260px;
  left: 26px;
  padding:0 10px 25px 10px;
  border: 1px solid #E1E4E4;
  position:absolute;  
}
.starscontainer p
{
  width: 100px;
  margin-bottom:5px; 
}
.star5
{
  text-align: center;
  /* border: 1px solid red; */
  margin-top: 25px;
  padding-bottom: 20px;
}
.s
{
  font-size: 12px;
  color: #555555a2;
}
.stars1
{
  position: absolute;
  right: 5px;
  top: 87px;
}
.stars2
{
  position: absolute;
  top: 130px;
  right: 5px;
}
.stars3
{
  position: absolute;
  top: 173px;
  right: 5px;
}
.stars4
{
  position: absolute;
  top: 217px;
  right: 5px;
}
.stars5
{
  top: 261px;
  position: absolute;
  right: 5px;
}

#page_3
{
      scroll-snap-align: start ;
      background-image: url('/styling/3PageTesla.jpeg');
      background-size: cover;
      background-repeat: no-repeat;  
      width: 100vw;
      height: 100vh;
      font-family: Gotham-medium;
      position: absolute;

}
.lowbar
{
  /* position: absolute; */
  position: flex;
  background-color:white ;
  height: 100px;
  bottom: 0;
  margin-top: 600px;
  padding-top: 135px ;
}
.section1
{
  position: absolute;
  /* border: 1px solid red; */
  margin-top: -100px;
  margin-left: 220px;

}
.prefo span
{
  font-size: 16px;
  color: #707070;
  font-family: Gotham-light ;
}
.section2
{

  position:absolute;
  right: 255px;
  bottom: 50px;
  /* border: 1px solid rgb(72, 255, 0); */
  width: 600px;
  color: #707070;
  font-family: Gotham-light ;
}
.lowbar .ordernow
{
  position: absolute;
  text-decoration:none ;
  color: black;
  font-weight: 500;
  /* border: 1px solid red; */
  padding: 10px 20px;
  border-radius: 20px;
  border: 3px solid black;
  font-size: 13px;
  left: 365px;
  bottom: 45px;
}
.lowbar .ordernow:hover
{
  background-color: black;
  color: white;
  transition: all .45s ease ;
}



